{% extends 'base.html' %}
{% load static %}
{% block title %} 지역별 직종 키워드 {% endblock %}
{% block content %}
<link rel=" stylesheet" href="{% static  'assets/vendor/korea_map_js_file/style.css' %}">


<main id="main" class="main">
    <div class="pagetitle">
        <h1>지역별 직종 키워드</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Jobs</li>
                <li class="breadcrumb-item active">occ-keyword</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div id="current_region" style="display: none;"></div>

    <section class="section">
        <div class="row">
            <!-- 지역 선택 버튼-->
            <div class="col-lg-3">
                <div class="card" style=" height:600px;">
                    <h5 class="card-title">&nbsp;&nbsp;&nbsp;지역 선택</h5><br>
                    <div class="card-body">
                        <div id="canvas">
                            <div id="south"></div>
                            <div id="seoul">
                                <h2>서울특별시</h2>
                            </div>
                            <div id="gygg">
                                <h2>경기도</h2>
                            </div>
                            <div id="incheon">
                                <h2>인천광역시</h2>
                            </div>
                            <div id="gangwon">
                                <h2>강원도</h2>
                            </div>
                            <div id="chungbuk">
                                <h2>충청북도</h2>
                            </div>
                            <div id="chungnam">
                                <h2>충청남도</h2>
                            </div>
                            <div id="daejeon">
                                <h2>대전광역시</h2>
                            </div>
                            <div id="sejong">
                                <h2>세종특별자치시</h2>
                            </div>
                            <div id="gwangju">
                                <h2>광주광역시</h2>
                            </div>
                            <div id="jeonbuk">
                                <h2>전라북도</h2>
                            </div>
                            <div id="jeonnam">
                                <h2>전라남도</h2>
                            </div>
                            <div id="gyeongbuk">
                                <h2>경상북도</h2>
                            </div>
                            <div id="gyeongnam">
                                <h2>경상남도</h2>
                            </div>
                            <div id="daegu">
                                <h2>대구광역시</h2>
                            </div>
                            <div id="busan">
                                <h2>부산광역시</h2>
                            </div>
                            <div id="ulsan">
                                <h2>울산광역시</h2>
                            </div>
                            <div id="jeju">
                                <h2>제주특별자치도</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 직종 선택 버튼 -->
            <div class="col-lg-3">
                <div class="card" style=" height:600px;">
                    <h5 class="card-title">&nbsp;&nbsp;&nbsp;직종 선택</h5>
                    <div class="card-body">
                        <div id="check_occ">
                            <input type='radio' name="occ" value="1">경영,사무,금융,보험<br>
                            <input type='radio' name="occ" value="2">연구 및 공학기술<br>
                            <input type='radio' name="occ" value='3'> 교육·법률·사회복지·경찰·소방 및 군인<br>
                            <input type='radio' name="occ" value='4'> 보건·의료<br>
                            <input type='radio' name="occ" value='5'> 예술·디자인·방송·스포츠<br>
                            <input type='radio' name="occ" value='6'> 미용·여행·숙박·음식·경비·돌봄·청소 <br>
                            <input type='radio' name="occ" value='7'> 영업·판매·운전·운송 <br>
                            <input type='radio' name="occ" value='8'> 건설·채굴 <br>
                            <input type='radio' name="occ" value='13'> 농림어업직 <br>
                            <hr>
                            <span> 설치·정비·생산</span> <br>
                            <input type='radio' name="occ" value='9'> 기계·금속·재료 <br>
                            <input type='radio' name="occ" value='10'> 전기·전자·정보통신 <br>
                            <input type='radio' name="occ" value='11'> 화학·환경·섬유·의복·식품가공 <br>
                            <input type='radio' name="occ" value='12'> 인쇄·목재·공예 및 제조 단순 <br><br>
                        </div>

                        <!-- 워드클라우드 그리기 버튼-->
                        <button type="button" id="sub_btn" class=" btn btn-primary" style="float:right;">
                            키워드 보기</button>
                    </div>
                </div>
            </div>

            <!-- 워드클라우드 그리기-->
            <div class="col-lg-6">
                <div class="card">
                    <h5 class="card-title">&nbsp;&nbsp;&nbsp;채용정보 키워드</h5>
                    <div class="card-body">
                        <!-- 워드클라우드 그리기-->
                        <div class="cloud">
                            <div id="container" style=" height:600px;"></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
</main><!-- End #main -->

<script>
    var sca = '01';
</script>
{% endblock %}

{% block script %}
<script src="{% static 'showkeyword/showkeyword_occ.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/vendor/korea_map_js_file/raphael_path_s.korea.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/vendor/korea_map_js_file/raphael_min.js' %}"></script>
{% endblock %}