{% extends 'base.html' %}
{% block title %} 맞춤형 채용정보 {% endblock %}
{% load static %}
{% block content %}
<div id="main" class="container">
    <div id="map" style="width:100%;height:350px; "></div>
    <button id="locbtn">내위치찾기</button>
    <span id="locspan">x: y:</span>
    <br>
    <button id="findbtn">나에게 가장 가까운 공고 ?개보기</button>
    <input type="number" id="number" value=10 min=10>
    <div class="container my-3" id="anndiv">
        <table class="table" , id="anntable">
            <thead>
                <tr class="table-dark">
                    <th>DISTANCE</th>
                    <th>TITLE</th>
                    <th>LINK</th>
                </tr>
            </thead>

        </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=07a348f52fe07f2445e72da80b6501d1&libraries=services"></script>
<script src="{% static 'showmap/showmap.js' %}"></script>

{% endblock %}