{% extends 'base.html' %}
{% load static %}
{% block title %} 채용정보 키워드 {% endblock %}
{% block content %}
<link rel=" stylesheet" href="{% static 'showkeyword/style.css' %}">

<main id="main" class="main">
    <div class="pagetitle">
        <h1>채용정보 키워드</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Jobs</li>
                <li class="breadcrumb-item active">keyword</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <p style="color:gray;"><i class="bi bi-info-circle"></i>&nbsp;&nbsp;
        지역별 또는 직종별 키워드를 검색하여 최신 채용정보 트랜드를 확인하세요!</p>

    <section class="section">
        <div class="row">

            <!-- 지역별 채용정보 키워드 -->
            <div class="col-lg-6">
                <div class="card">
                    <h5 class="card-title">&nbsp;&nbsp;&nbsp;지역별 채용정보 키워드 검색</h5>
                    <div class="card-body">
                        <!-- 지역을 검색하는 input & 찾기 버튼 -->
                        <div id='sido_search' class="in-line">
                            <input id="sido_input" class="sido_input" type="text" name="name" value="대전광역시"
                                placeholder="지역을 입력하세요">
                            <button id="sido_btn" class="sido_search" type="button" name="name"
                                value="Search">Search</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 직종별 채용정보 키워드 -->
            <div class="col-lg-6">
                <div class="card">
                    <h5 class="card-title">&nbsp;&nbsp;&nbsp; 채용공고 키워드 검색</h5>
                    <div class="card-body">
                        <!-- 직종을 검색하는 input & 찾기 버튼-->
                        <div class="in-line">
                            <input id="occ_input" class="sido_input" name="name" placeholder="키워드를 입력하세요">
                            <input id="occ_btn" class="sido_search" type="button" name="name" value="Search">
                        </div>
                    </div>
                </div>
            </div>

            <!-- 워드클라우드(직종) -->
            <div class="col-lg-8">
                <div class="card">
                    <h5 class="card-title">&nbsp;&nbsp;&nbsp;채용정보 키워드 </h5>
                    <div class="card-body">
                        <!-- 워드클라우드 그리드-->
                        <div class="chart-area">
                            <div id="container" style=" height:850px;">
                                <!-- 빈 페이지 -->
                                <p class="non_page">
                                    <i class="ri-checkbox-multiple-line" style="font-size:30px;"></i><br>
                                    ! Search For Keywords !
                                </p>
                            </div>
                        </div>

                        <!-- 워드클라우드 그리드 끗 -->
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <h5 class="card-title">&nbsp;&nbsp;&nbsp;채용정보 키워드 랭킹</h5>
                    <div class="card-body">
                        <!-- 랭킹-->
                        <div class="chart-area">
                            <div id="ranking" style=" height:1000px;">
                                <!-- 빈 페이지 -->
                                <p class="non_page">
                                    <i class="ri-checkbox-multiple-line" style="font-size:30px;"></i><br>
                                    ! Search For Keywords !
                                </p>
                            </div>
                        </div>

                        <!-- 워드클라우드 그리드 끗 -->
                    </div>
                </div>
            </div>



        </div>
    </section>

</main><!-- End #main -->
{% endblock %}
{% block script %}
<script src="{% static 'showkeyword/showkeyword.js' %}"></script>
<script src="{% static 'showkeyword/anychart-core.min.js' %}"></script>
<script src="{% static 'showkeyword/anychart-tag-cloud.min.js' %}"></script> {% endblock %}